@import "tailwindcss";

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blob-bg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
    background: radial-gradient(ellipse at bottom, #0f172a, #000);
  }
  
  .blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.4;
  }
  
  /* Each blob has its own animation */
  
  @keyframes blobOne {
    0%   { transform: translate(0, 0) scale(1); }
    25%  { transform: translate(30vw, -10vh) scale(1.3); }
    50%  { transform: translate(-20vw, 20vh) scale(0.8); }
    75%  { transform: translate(10vw, 40vh) scale(1.2); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes blobTwo {
    0%   { transform: translate(0, 0) scale(1); }
    20%  { transform: translate(-25vw, 15vh) scale(1.1); }
    40%  { transform: translate(30vw, 20vh) scale(0.7); }
    70%  { transform: translate(-10vw, -30vh) scale(1.4); }
    100% { transform: translate(0, 0) scale(1); }
  }
  
  @keyframes blobThree {
    0%   { transform: translate(0, 0) scale(1); }
    30%  { transform: translate(20vw, 25vh) scale(1.2); }
    50%  { transform: translate(-30vw, 10vh) scale(0.9); }
    80%  { transform: translate(10vw, -20vh) scale(1.3); }
    100% { transform: translate(0, 0) scale(1); }
  }